
<div class="navbar shadow justify-between px-4">
    <a href="" class="logo">Sumar+</a>

    <ul class="nav-links">
        <li><a class="nav-a" routerLink="/inicio" routerLinkActive="active">Inicio</a></li>
        <li><a class="nav-a" routerLink="/campanas" routerLinkActive="active">Campañas</a></li>
        <li><a class="nav-a" routerLink="/organizaciones" routerLinkActive="active">Organizaciones</a></li>
    </ul>

    <div class="actions">
        <app-button-component label="Iniciar Sesión"
        variant="violet"
        [rounded]="true"/>
    </div>
</div>

