<div class="flex flex-col rounded-2xl h-64 shadow-lg hover:shadow-violet-300 transition-shadow p-3 lg:p-6">
    <h2 class="text-xl font-bold mb-2">{{campaign?.title}}</h2>


    <p class="italic mb-auto text-gray-600">{{(campaign?.description || '') | truncate: 120 }}</p>


    <div class="mb-2">
        <span class="font-bold text-2xl">${{campaign?.currentAmount}}</span> <span class="text-gray-400 text-xs"> recaudados de {{campaign?.goalAmount | currency}}</span>
        <progress class="progress progress-primary w-full" [value]="campaign?.currentAmount"
            [max]="campaign?.goalAmount"></progress>
    </div>

    <div class="flex justify-between">
        <span class="text-sm text-gray-500" [ngClass]="(+daysLeft(campaign?.endDateTime) > 10 ? 'text-green-500' : 'text-red-500')">{{ +daysLeft(campaign?.endDateTime) }} días restantes</span>
        <app-button-component class="" label="Ver más" variant="violet"
        [rounded]="true"></app-button-component>
    </div>

    
</div>