@import "tailwindcss";
@plugin "daisyui";

/* esto esta aca como safe-list, sino tailwind lo purga */
@source inline('btn-{sm,md,lg,xl}');
@source inline('btn-{default,primary,secondary,accent,info,success,warning,error}');

@source inline('alert-{info,success,warning,error}');

/*toast*/
@source inline('top-left,top-center,top-right,bottom-left,bottom-center,bottom-right');
@source inline('toast');

/*skeleton*/
@source inline('skeleton');
@source inline('skeleton-avatar,skeleton-button,skeleton-card,skeleton-input,skeleton-text');

/*inputs*/
@source inline('file-input-{primary,secondary,accent,info,success,warning,error}');
@source inline('input-{primary,secondary,accent,info,success,warning,error}');

/*tooltips*/
@source inline('tooltip-{top,left,right,bottom}');

/* Violet focus style for all inputs globally (DaisyUI override) */
.input,
input,
textarea,
select,
.file-input {
    transition: all 0.3s ease;
}

.input:focus,
.input:focus-within,
.input:focus-visible,
input:focus,
input:focus-visible,
textarea:focus,
textarea:focus-visible,
select:focus,
select:focus-visible,
.file-input:focus,
.file-input:focus-visible {
    outline: none !important;
    box-shadow: none !important;
    border-color: #8b5cf6 !important;
}